/**
 * Modern CSS reset
 * https://github.com/sindresorhus/modern-normalize
 */
@import url("modern-normalize");

html {
  // Set global style color values
  --doc-text-color: rgba(255, 255, 255, 0.87);
  --doc-subtext-color: rgb(195, 205, 218);
  --doc-base-color: rgb(77, 168, 224);
  --doc-accent-color: rgb(186, 221, 243);
  --doc-highlight-color: rgb(129, 193, 233);

  // Initialize typography
  font-size: 62.5%;

  body {
    // Set base font
    font-size: 1.6em;
    color: var(--doc-text-color);

    // Set page top padding
    padding-top: 4.2rem;

    // Set page background
    background: rgb(249, 254, 255);
  }
}

// Notification Message Item (notif. message) styling
main.notif-message-list {

  // Default content size
  --nml-width: 94%;

  // Set adaptive (responsive) content width/size
  @media screen and (min-width: 600px) {
    & {
      --nml-width: 80%;
    }
  }

  @media screen and (min-width: 800px) {
    & {
      --nml-width: 60%;
    }
  }

  @media screen and (min-width: 1000px) {
    & {
      --nml-width: 60rem;
    }
  }

  width: var(--nml-width);
  margin: 0 auto;

  section.notif-message-item {
    // Set current/active interaction color
    --nmi-active-color: var(--doc-base-color);

    // Give timestamp a stable width
    --nmi-time-min-width: 9rem;

    // Set message icon sizing
    --nmi-icon-size: 3.8rem; // icon size (including container)
    --nmi-icon-offset: 2.1rem; // icon vertical offset
    --nmi-icon-spacing: 1.8rem; // icon horizontal offset from content
    --nmi-icon-padding: 1.2rem; // icon horiz. padding from time on desktop
    --nmi-icon-container-size: calc(var(--nmi-icon-size) + var(--nmi-icon-spacing));
    --nmi-icon-text-size: calc(var(--nmi-icon-size) - 2rem);
    --nmi-icon-border-size: 0.5rem;

    // Set position relative for visual-aid time line
    position: relative;

    // Grid configuration
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: calc(var(--nmi-icon-size) + var(--nmi-icon-spacing)) auto;
    row-gap: 0.2rem;

    // Margin spacing
    margin-bottom: 2.8rem;

    // Draw timeline visual-aid line
    &::after {
      content: "";
      display: block;
      position: absolute;

      // Push line behind icon
      z-index: -1;

      width: 0.6rem;
      height: calc(100% + var(--nmi-icon-size) - 1rem);

      // Enable transitions
      transition: background-color 0.1s ease-out;
      background-color: var(--doc-accent-color);

      top: calc(11.8rem);
      left: calc(var(--nmi-icon-size) / 2.0 - var(--nmi-icon-border-size) / 2.0);
    }

    // Clear visual-aid time line from last element
    &:last-child::after {
      display: none;
    }

    // Assign active state
    &.active {
      --nmi-active-color: var(--doc-highlight-color);

      aside.notif-message-timestamp .notif-message-time {
        color: var(--doc-base-color);
      }

      h5.notif-message-title {
        color: var(--doc-text-color);
      }
    }

    @media screen and (min-width: 1000px) {

      // Adjust visual-aid time line
      &::after {
        top: calc(var(--nmi-icon-size) + var(--nmi-icon-spacing));
        left: calc(var(--nmi-time-min-width) + calc(var(--nmi-icon-size) + var(--nmi-icon-spacing)) / 2.0);
      }

      // Switch to desktop view
      & {
        grid-template-rows: initial;
        grid-template-columns: auto var(--nmi-icon-container-size) auto;
        --nmi-icon-container-size: calc(var(--nmi-icon-size) + var(--nmi-icon-spacing) + var(--nmi-icon-padding));
      }
    }

    // Timestamp styling
    aside.notif-message-timestamp {
      text-align: right;
      min-width: var(--nmi-time-min-width);
      grid-column-start: 2;

      @media screen and (min-width: 1000px) {
        & {
          grid-column-start: 1;
        }
      }

      // Date styling
      .notif-message-date {
        font-size: 1.6rem;
        color: var(--doc-subtext-color);

        padding-right: 0.2rem;
      }

      // Time styling
      .notif-message-time {
        font-size: 3.4rem;
        font-weight: bold;
        transition: color 0.1s ease-out;
        color: var(--doc-accent-color);
      }
    }

    // Message icon styling
    .notif-message-icon {
      // Icon alignment
      margin-top: var(--nmi-icon-offset);

      @media screen and (min-width: 1000px) {
        & {
          margin-left: var(--nmi-icon-padding);
        }
      }

      // Icon color
      color: var(--doc-text-color);

      // Icon sizing
      font-size: var(--nmi-icon-text-size);

      // Icon container
      transition: background-color 0.1s ease-out;
      background-color: var(--nmi-active-color);
      border: var(--nmi-icon-border-size) solid var(--doc-accent-color);
      border-radius: 50%;

      // background-color: unset;
      // color: transparent;

      // Icon alignment
      display: grid;
      width: var(--nmi-icon-size);
      height: var(--nmi-icon-size);

      svg {
        justify-self: center;
        align-self: center;
      }
    }
  }
}

// Content styling
section.notif-message-item article.notif-message-content {
  // Content container
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  transition: background-color 0.1s ease-out;
  background-color: var(--nmi-active-color);
  border-radius: 0.5rem;
  position: relative;

  // Content chevron (speech bubble)
  &::before {
    content: "";
    position: absolute;
    display: block;

    left: -0.8rem;
    top: 3rem;

    width: 0;
    height: 0;

    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: border-right 0.1s ease-out;
    border-right: 1rem solid var(--nmi-active-color);
  }


  // Title styling
  h5.notif-message-title {
    // Align title text
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    padding-bottom: 1.2rem;

    // Set title text style
    font-size: 2.2rem;
    font-weight: 720;
    transition: color 0.1s ease-out;
    color: var(--doc-accent-color);

    /// Add title border (horizontal rule)
    border-bottom: 1px solid var(--doc-accent-color);
  }

  // Text body styling
  .notif-message-body {
    font-size: 1.6rem;
  }
}
